<div class="form-row">
    <div class="form-item">
        <label>Name</label>
        <input type="text" name="name" value="<%= owner.name %>" required>
    </div>

    <div class="form-item">
        <label>E-mail</label>
        <input type="text" name="email" value="<%= owner.email %>">
    </div>

    <div class="form-item">
        <label>Phone Number</label>
        <input type="text" name="number" value="<%= owner.number %>">
    </div>
</div>